PORT=5001
MONGODB_URI=your_mongodb_uri
APP_NAME=itwos
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d
NODE_ENV=production
FRONTEND_URL=https://seahorse-app-6oovh.ondigitalocean.app
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ENCRYPTION_KEY=your_encryption_key
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
YOUTUBE_API_KEY=your_youtube_api_key
